<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5 class="mb-3">About GhostCore</h5>
                <p>Uniting Your Services for a seamless development experience. Built with ❤️ for developers.</p>
            </div>
            <div class="col-md-4">
                <h5 class="mb-3">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ url_for('docs') }}" class="text-light text-decoration-none">Documentation</a></li>
                    <li><a href="#api" class="text-light text-decoration-none">API Reference</a></li>
                    <li><a href="https://github.com/The-UnknownHacker/ghostcore" class="text-light text-decoration-none">Contributing</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="mb-3">Connect</h5>
                <div class="d-flex gap-3">
                    <a href="https://github.com/The-UnknownHacker" class="text-light"><i class="fab fa-github fa-lg"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer> 